<div class="each_post">

  <div style="position: relative;">
    <div style="position: absolute; top: 0px; right: 0px;">
      <%= render partial: 'posts/each_social_buttons', locals: {post: post} %>
    </div>
    <div style="position: absolute; top: 25px; right: 0px;">
      <div class="post_date"><%= post.created_at.to_s(:post_title) %></div>
    </div>
  </div>

  <div style="width: 520px; margin-bottom: 40px;">
    <h3 class="post_title"><a href="<%= post_path(post) %>"><%= post.title %></a></h3>
  </div>

  <div class="clear"></div>

  <div class="post_text" style="">
    <%= post.body.html_safe %>
  </div>

  <%= render partial: 'posts/each_social_buttons', locals: {post: post} %>

  <div class="clear"></div><%# これがないと下の要素にめり込む %>

  <div id="comment_by_facebook_wrapper"><%# これがない印刷時に非表示にできない %>
    <div style="border-width: 1px; border-style: solid; border-radius: 3px; margin-top: 10px; padding: 28px;" class="fb-comments comment_by_facebook" data-href="<%= post_url(post) %>" data-width="600" data-numposts="5"></div>
  </div>

  <script type="text/javascript">
      <!--
      likeCount('fb_count_<%= post.id %>', '<%= post_url(post) %>');
      // tweetCount('tweet_count_<%= post.id %>', '<%= post_url(post) %>');
      hatebuCount('hatebu_count_<%= post.id %>', '<%= post_url(post) %>');
      // -->
  </script>

</div><!-- each_post -->
